.Editor{
    padding: 30px;
    .dhad_editor {
        float: right;
        width: 100%;
        height: 400px;
        padding: 20px 0;
        border: none;
        outline: none;
        font-size: 16px;
        overflow-x: hidden;
    }
}