//Colors
$dark-grey: #333;
$blue:#1c88bf;
$dark-blue:#364051;
//Font Size
$font-size-larger:1.8rem;
//spacing
$s-size: 1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$desktop-breakpoint:45rem;

//screen
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
